<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Aniket Gaikwad.</p>
      <div class="footer-icons">
        <a href="https://linkedin.com/in/aniket-kumar-gaikwad" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/aniketkumargaikwad" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:aniketkumargaikwad@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/alpha_gaikwad/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
