<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div>
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    My name is Aniket Gaikwad and I enjoy <span class="default-highlight">creating software out of and idea</span>.
                </p>
                <p>
                    <img src="../../assets/aniket_profilepic.png" alt="" class="about-picture" [width]="300">
                </p>
                <p class="default-p">
                    I am a passionate Software Developer based in India, constantly exploring <span class="default-highlight">new technologies</span> and <span class="default-highlight">methodologies</span> to enhance my skills. My journey in software development has fueled my enthusiasm for creating <span class="default-highlight">innovative solutions</span> that make a real impact. 
                </p>
                <p class="default-p">
                    I had the chance to code in <span class="default-highlight">several technologies</span> and also develop important <span class="default-highlight">soft skills</span>: I led transformative changes to enhance team dynamics and organizational culture within a tech company. Through collaboration with groups of developers and diligent study of documentation, I acquired valuable coding knowledge. I gained experience in programming logic, enhanced my software craftsmanship, <span class="default-highlight">developed websites</span>, <span class="default-highlight">REST APIs</span>, built visual dashboards, <span class="default-highlight">scrapers and crawlers</span>, and <span class="default-highlight">retrieved and processed data</span> from various sources.
                </p>
                <p class="default-p">
                    I am dedicated to continuously learning and adapting to new technologies and methodologies. My goal is to create <span class="default-highlight">efficient, scalable, and user-friendly software solutions that make a difference</span>. Whether it's front-end development, back-end services, or <span class="default-highlight">full-stack applications</span>, I am <span class="default-highlight">passionate about every aspect of software development</span>.
                </p>
                <p class="default-p">
                    
I am dedicated to continuously learning and embracing new technologies and methodologies, with a focus on building <span class="default-highlight">efficient, scalable, and user-centered software solutions that make a meaningful impact</span>. From front-end design to back-end services and <span class="default-highlight">full-stack applications</span>, I am deeply passionate about every facet of software development.
                </p>
            </div>
            <div class="content">
                <div>
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Connect with me on social media, explore my projects on GitHub, or <span class="default-highlight">reach out to schedule a conversation</span>—I’d be delighted to discuss how my problem-solving skills can help tackle the unique challenges your team is facing.
                    </p>
                    <button>
                        <a routerLink="/contact">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
