<div class="align-items-center default-container">
    <div class="d-flex justify-content-center">
        <div class="contact-card">
            <img src="../../assets/aniket_profilepic.png" width="250" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                aniket_gaikwad
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE ENGINEER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://linkedin.com/in/aniket-kumar-gaikwad" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">
                        <a href="https://github.com/aniketkumargaikwad" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:aniketkumargaikwad@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://www.instagram.com/alpha_gaikwad/" target="_blank">
                        <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm excited about the possibility of collaborating on groundbreaking projects and uncovering innovative solutions together! If you’re seeking a passionate software developer to transform your ideas into reality, <span class="default-highlight">let’s connect </span>and ignite a conversation. I would love to explore how we can combine our strengths to achieve your ambitious goals. Ready to take the leap? Let’s set up a call and create something extraordinary!
            </p>
            <button>
                <a href="https://linkedin.com/in/aniket-kumar-gaikwad" target="_blank">LinkedIn</a>
            </button>
        </div>
    </div>
</div>
