<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div>
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    Explore my educational journey, including the languages I speak, my college experience, the technical content I've completed, and the diverse technologies I've worked with.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
