<div class="row align-items-center default-container">
  <div class="text-left">
    <h1 class="home-title">Bridging Creativity and Technology for Impactful Innovations.</h1>
    <h2 class="home-author">Aniket Gaikwad, <span id="dynamic-text">{{ dynamicText }}</span></h2>
    <blockquote>
      Full Stack Developer with 3+ years of experience, adept at crafting user-centric web applications. Possesses a passion for continuous learning and thrives in collaborative environments.
    </blockquote>
    <div class="card-container d-flex flex-wrap">
      <div class="card">
        <h3>Full Stack Expertise</h3>
        <p>Bridges the gap between front-end and back-end development, ensuring seamless user experiences.</p>
      </div>
      <div class="card">
        <h3>Tech-Savvy</h3>
        <p>Maintains a growth mindset, actively seeking out and acquiring new technical skills.</p>
      </div>
      <div class="card">
        <h3>Team-Oriented</h3>
        <p>Values effective communication and collaboration to achieve project goals.</p>
      </div>
      <div class="card">
        <h3>Self motivated, focused</h3>
        <p>Rely on our dedicated team of experts who are committed to providing exceptional support.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button class="white-border">
        <a routerLink="/portfolio">> Check Portfolio</a>
    </button>
    </div>
  </div>  
</div>






  