
@media (max-width: 768px) {
    .home-title, .home-author {
        font-size: 50px !important;
    }

    .home-author {
        line-height: 4rem !important;
    }
  }

.home-container {
    background: #141a20;
    padding: 40px 20px;
    border-radius: 8px;
    height: 88vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-left {  
    text-align: start;
}

.home-title {
    font-size: 5rem;
    color: #e0f0ff;
    line-height: 5rem;
}

.home-author {
    font-size: 3.5rem;
    color: white;
}

#dynamic-text {
    border-right: 2px solid #00FF00;
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: #00FF00;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00FF00; }
}


/* sample code here */
.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: black;
    color: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    border: 1px solid white;
    &:hover{
        transform: translateY(-7px);
    }
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 0.95em;
    color: #666;
  }
